html{
    color: white;
    background-color: #032B44;
    font-family: "Quicksand", sans-serif;
}
header{
    background-color: #032B44;
}
header h1{
    text-align: center;
}
Header h1 span{
    color:#F7DC67;
}
nav{
    background-color: #F7DC67;
    padding: 0.2rem;
}
header nav ul{
    display: flex;
    justify-content:space-evenly;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li a:hover{
    display: block;
    background-color: #032B44;
    padding: 0.5rem;
    color: white;
    transition: 0.5s ease-in-out;
}
main{
    display: flex;
    gap: 2rem;
    max-width: 100%;
}
.card{
    border-left: 1px solid #399cda;
    border-right: 1px solid #399cda;
    border-bottom: 1px solid #399cda;
    margin-top: 1px solid #399cda;
    margin-top: 2rem;
}
.card h2{
    text-align: center;
    background-color: #399cda;
    padding: 0.5rem;
    margin-top: 0;

}
.card img{
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
}
.card div{
    display: flex;
    padding: 1rem;
}
.card p{
    line-height: 2rem;
}
.learning-resources{
    display: flex;
    flex-direction: column;
}
.learning-resources ul{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    gap: 2rem;
}
.learning-resources ul li{
    list-style-type: none;
}
.learning-resources ul li a{
    text-decoration: none;
    color: #399cda;
}
.learning-resources ul li a:hover{
    display: block;
    background-color: #F7DC67;
    padding: 0.3rem;
    color: white;
    transition: 0.3s ease-in-out;


}
footer{
    text-align: center;
    margin-top: 2rem;
    background-color: #F7DC67;
    color: #032B44;
    padding: 0.2rem;
}
footer p{
    display: flex;
    flex-direction: column;
}