html{
    color: white;
    background-color: #032B44;
}
header{
    background-color: #032B44;
}
header h1{
    text-align: center;
}
Header h1 span{
    color:#F7DC67;
}
nav{
    background-color: #F7DC67;
    padding: 0.2rem;
}
header nav ul{
    display: flex;
    justify-content:space-evenly;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
}
main{
    display: flex;
    gap: 2rem;
}
.card{
    border: 1px solid white;
    margin-top: 2rem;
}
.card h3{
    text-align: center;
    background-color: #399cda;
    padding: 0.5rem;
    height: 50px;

}
.card img{
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
}
.card div{
    display: flex;
    padding: 1rem;
}