@media only screen and (min-width:767px) {
    .picture-section{
        position: relative;
    }
    .info{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        width: 20vw;
        height: 45vh;
        top: 15rem;
        left: 2rem;
    }
    .info > .about{
        font-size: small;
        line-height: 2rem;

    }
    .info h2{
        margin-bottom: 2rem;
        margin-top: -0.5rem;
        background-color: var(--primary-color);
        color: white;
        margin-left: -4rem;
        padding-right: 3rem;
        padding-left: 1rem;
    }
    .weather{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        width: 15vw;
        height: 30vh;
        bottom: -15rem;
        right: 2rem;
        line-height: 2rem;
    
    }
    .weather > * :not(h2){
        font-size: small;
    }
    .weather > img{
        display: none;
    }
    .emoji{
        display: contents;
    }
    .weather h2{
        padding-left: 1rem;
        padding-right: 4rem;
        margin-left: -2rem;
        background-color: var(--primary-color);
        margin-top: -1.5rem;
        color: white;

    }

    
}