@media only screen and (min-width:767px) {
    .picture-section{
        position: relative;
    }
    .info{
        position: absolute;
        background-color: aqua;
        width: 20vw;
        height: 45vh;
        top: 15rem;
        left: 2rem;
    }
    .info > .about{
        font-size: small;
        line-height: 1.7rem;

    }
    .info h2{
        margin-bottom: 0;
        background-color: var(--primary-color);
        padding: 1rem;
        color: white;
        margin-left: -1rem;
        padding-right: 100%;
    }
    .weather{
        position: absolute;
        background-color: red;
        width: 20vw;
        height: 50vh;
        bottom: -7rem;
        right: 0;
        line-height: 1.7rem;
    
    }
    .weather > * :not(h2){
        font-size: small;
    }
    .weather > img{
        display: none;
    }

    
}