html{
    font-family: "Quicksand", sans-serif;
}
header{
    background-color: rgb(81, 161, 192);
    display: flex;
    justify-content: space-between;
}
nav{
   display: flex; 
}
nav ul li{
    list-style-type: none;
    margin-top: 1rem;
}
nav ul li a{
    text-decoration: none;
}
main{
    grid-template-areas: 
    "california"
    "hamilton"
    "lehi-temple"
    "Modesto"
    "oakland"
    "oquirrh"
    "salt-lake"
    "st-george"
    "washington";
}
.california{
    grid-area: california;
}
.hamilton{
    grid-area: hamilton;
}
.lehi-temple{
    grid-area: lehi-temple;
}
.modeston{
    grid-area: Modesto;
}