html{
    font-family: "Quicksand", sans-serif;
}
header{
    background-color: rgb(81, 161, 192);
    display: flex;
    justify-content: space-between;
}
nav{
   display: flex; 
   gap: 2rem;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}