@media only screen and (min-width: 767px) {

    header ul li a{
        display: flex;
         
    }

    #menu{
        display: block;
    }
    #menu-toggle{
        display: none;
    }
    #cancel-button{
        display: none;
    }
    
}