*{
    margin: 0;
}

html{
    font-family: "Quicksand", sans-serif;
}
header{
    background-color: rgb(15, 15, 32);
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: white;
    padding: 2rem;
}
header nav i{
    font-size: larger;

}
nav{
   display: flex; 
}
nav ul li{
    list-style-type: none;
    margin-top: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in;
}
nav ul li a:hover{
    background-color: rgb(163, 163, 243);
    padding: 0 1rem;
    border-radius: 30px;
}
#menu-toggle.show {
    display: none;
}

#cancel-button {
    display: none;
}

#cancel-button.show {
    display: inline-block;
}
.temples{
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-areas: 
    "california"
    "hamilton"
    "lehi-temple"
    "Modesto"
    "oakland"
    "oquirrh"
    "salt-lake"
    "st-george"
    "washington";
    max-width: 100%;
}
main  h1{
    text-align: center;
    margin: 1rem 0;

}
.california{
    grid-area: california;
}
.hamilton{
    grid-area: hamilton;
}
.lehi{
    grid-area: lehi-temple;
}
.modesto{
    grid-area: Modesto;
}
.oakland{
    grid-area: oakland;
}
.oquirrh{
    grid-area: oquirrh;
}
.salt-lake{
    grid-area: salt-lake;
}
.st-george{
    grid-area: st-george;
}
.washington{
    grid-area: washington;
}
main figure img{
    height: 40vh;
    width: 85vw;
}
footer{
    background-color:rgb(15, 15, 32);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}